{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block style %}
.container {
            max-width: 500px;
            margin: 100px auto;
        }

        form {
            background: #f7f7f7;
            padding: 20px;
            border-radius: 10px;
        }

        form input {
            margin-bottom: 10px;
        }

        form button {
            background: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        form button:hover {
            background: #0056b3;
        }

        #current-time {
            background: #000;
            color: #fff;
            padding: 10px;
            font-size: 16px;
        }
{% endblock %}

{% block body %}
    <div class="container"><h1>Регистрация</h1>
        <form method="post">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Логин" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required>
            <button type="submit" value="Register">Зарегистрироваться</button>
        </form>
        {% if incorrect_username %}
            <p>{{ incorrect_username }}</p>
        {% endif %}
        <p id="incorrect_username"></p>
        <div><span>Уже зарегистрированы? </span><a href="/login">Войти</a> </div>
    </div>
    <div id="current-time">
        <span>Текущие дата и время: {{ current_datetime }}</span>
    </div>
{% endblock %}

{#{% block script %}#}
{#<script>#}
{#    $(document).ready(function() {#}
{#        $('username').blur(function(){#}
{#            var username = $(this).val();#}
{##}
{#            $.ajax({#}
{#                type: 'POST',#}
{#                url: '/check_username',#}
{#                data: {username: username},#}
{#                success: function(response){#}
{#                    $('#incorrect_username').text(response.message);#}
{#                }#}
{#            });#}
{#        });#}
{#    });#}
{#</script>#}
{#{% endblock %}#}